<% [notices].flatten.each do |notice| %>
  <div class="alert alert-<%= key %>" role="alert" data-controller="notices">
    <%= notice %>
    <div class="notice-close" data-action="click->notices#close"><i class="bi bi-x-lg"></i></div>
  </div>
<% end %>
