<%= form_for(resource, as: resource_name, url: registration_path(resource_name),
             html: { method: :put, data: { controller: 'dadata label_toggle' } }) do |form| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <%= render partial: 'devise/registrations/form_items', locals: { f: form } %>

  <div class="mt-6">
    <%= form.submit 'Сохранить', class: 'btn' %>
  </div>
<% end %>

<%#= link_to 'Мои заказы', orders_path %>
