<h2 class="title-h">Смена Email</h2>

<%= form_with model: current_user, url: change_email_path, method: :patch, class: "space-y-6" do |f| %>
  <div class="input-container">
    <%= f.email_field :email, required: true, placeholder: '', value: presence_email, class: "input-str" %>
    <%= f.label :email, 'Новый email', class: "font-medium text-gray-700" %>
  </div>

  <div class="mb-6">
    <%= f.submit 'Обновить email', class: "btn" %>
  </div>
<% end %>
