<div class="main-block" data-controller="check-user" data-check-user-bot-url-value="https://t.me/<%= settings[:tg_main_bot] %>">
  <div data-check-user-target="spinner">
    <h2>Пожалуйста, подождите, идет авторизация</h2>
    <div class="spinner my-10">
      <span></span>
    </div>
  </div>
  <div data-check-user-target="error" class="hidden">
    <h1>Произошла ошибка</h1>
    <p class="mb-3">Для открытия каталога необходимо сначала активировать бота.</p>
    <ul class="mb-3">
      <li class="mb-2">1. Откройте <%= link_to "@#{settings[:tg_main_bot]}", "https://t.me/#{settings[:tg_main_bot]}", style: "color: #48c928;" %></li>
      <li class="mb-2">2. Нажмите на кнопку Start или отправьте команду /start </li>
      <li class="mb-2">3. Перейдите по ссылке, которую пришлёт бот, чтобы открыть каталог</li>
    </ul>
    <p class="mb-3">📌 Если не нажать /start, оформление заказа невозможно.</p>
    <p>🔹 Авто-перенаправление:<br>Через<span data-check-user-target="countdown" class="font-semibold min-w-[20px] inline-flex justify-center">0</span>секунд вы будете автоматически перенаправлены в бот.</p>
  </div>
</div>
