- content_for :title, 'Избранное'
- if @products&.first&.image&.attached?
  = content_for :head, preload_link_tag(storage_path(@products.first.image), as: 'image', type: @products.first.image.blob.content_type)

h1 = yield(:title)

= render partial: 'favorites/favorites'
