<%= render "form" %>

<h2 class="text-2xl font-bold dark:text-white mt-6 mb-3">Состав заказа:</h2>

<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="p-2">№</th>
        <th scope="col" class="p-2">Карт.</th>
        <th scope="col" class="p-2">Название</th>
        <th scope="col" class="p-2">Кол.</th>
        <th scope="col" class="p-2">Цена</th>
      </tr>
    </thead>
    <tbody>
      <% @order.order_items.includes(product: :image_attachment).each_with_index do |order_item, idx| %>
        <%= render partial: '/admin/orders/order_item', locals: { order_item: order_item, idx: idx } %>
      <% end %>

      <% if @order.has_delivery? %>
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
          <td class="p-2"></td>
          <td class="p-2"></td>
          <th scope="row" class="p-2 font-medium text-gray-900 whitespace-nowrap dark:text-white">
            Доставка
          </th>
          <td class="p-2"></td>
          <td class="p-2"><%= settings[:delivery_price] %><span style="margin-left: 3px">₽</span></td>
        </tr>
      <% end %>

      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
        <td class="p-2"></td>
        <td class="p-2"></td>
        <th scope="row" class="p-2 font-medium text-gray-900 whitespace-nowrap dark:text-white">
          Использовано бонусов
        </th>
        <td class="p-2"></td>
        <td class="p-2">
          <%= @order.bonus %><span style="margin-left: 3px">₽</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
