<% content_for :title, "Редактирование заказа" %>

<div class="px-4 pt-6">
  <h1 class="text-3xl font-extrabold dark:text-white mb-10">Редактирование заказа</h1>

  <%= render "form" %>

  <br>

  <div class="mb-3">
    <%= link_to "Назад к заказам", admin_orders_path, class: "px-4 py-2 bg-blue-500 text-white font-semibold rounded" %>
  </div>
</div>
