@layer utilities {
  .bg-gray-600 {
    background-color: rgb(13 68 75);
  }

  .bg-gray-700 {
    background-color: rgb(18 71 78);
  }

  .bg-gray-800 {
    background-color: rgb(17 80 90);
  }

  .bg-gray-900 {
    background-color: #3396a5;
  }

  .ring-blue-500 {
    --tw-ring-color: rgb(53 123 114);
  }

  .border-blue-500 {
    border-color: rgb(53 123 114);
  }

  .bg-gray-50 {
    background-color: rgb(181, 252, 255);
  }
}

body {
  .body {
    background: black;
    .sidebar {
      .wraper-menu {
        .main-sidebar {
          .slidebar-menu {
            li {
              a {
                &.active {
                  @media (prefers-color-scheme: dark) {
                    background-color: rgb(13 68 75);
                  }
                }

                &:hover {
                  @media (prefers-color-scheme: dark) {
                    background-color: rgb(11 60 66);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
