@import "tailwindcss";

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #3D4453;
  background-color: #f9f9f9;
}

h1 {
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  margin-bottom: 16px;
  margin-top: 4px;
}

h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

h3 {
  font-weight: 600;
  font-size: 17px;
  margin-bottom: 12px;
}

.header {
  background-color: white;
  box-shadow: 0px 4px 4px 0px #0000000D;
  margin-bottom: 20px;

  .header-search {
    @apply flex rounded-lg overflow-hidden;
    background-color: #F0F0F0;
    padding: 14px;

    input {
      color: #777777;
      font-weight: 400;
    }

    button {
      cursor: pointer;
    }

    &:focus-within {
      button {
        color: #48C928;

        &:hover {
          color: #3AA120;
        }
      }
    }

    button:hover {
      color: #48C928;
    }
  }
}

.catalog-nav {
  white-space: nowrap;
  margin: 0 -20px;
  padding-left: 20px;
  padding-right: 10px;
  padding-bottom: 10px;
  margin-bottom: 2px;
  display: flex;
  gap: 4px;
  overflow-x: auto;

  li {
    a {
      display: inline-block;
      font-weight: 500;
      border: 1px solid #48C928;
      color: #48C928;
      border-radius: 16px;
      padding: 9px 15px;
      transition: 0.5s all;

      &.active, &:hover {
        color: white;
        background-color: #48C928;
      }

      &.active:hover {
        background-color: #3AA120;
      }
    }
  }
}

.product-wrapper {
  background-color: white;
  border-radius: 20px;
  margin: 8px;
  box-shadow: 0px 4px 16px 0px #3D44531A;
  box-shadow: 0px 0px 8px 0px #3D44530D;
  padding: 12px;
  position: relative;

  .product-img {
    height: 175px;
    overflow: hidden;
    position: relative;
  }

  .product-title {
    font-weight: 500;
    height: 40px;
    margin-bottom: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .title-has {
    text-align: center;
    margin-bottom: 4px;
    font-weight: 500;
    color: #777777;
  }

  .price {
    font-weight: 700;
    font-size: 17px;
    color: #48C928;
  }

  .old-price {
    font-weight: 500;
    font-size: 10px;
    line-height: 16px;
    text-decoration: line-through;
    color: #777777;
  }

  .price-without-old {
    font-weight: 700;
    margin-bottom: 4px;
  }
}

.btn {
  border-radius: 16px;
  padding: 10px;
  background-color: #48C928;
  color: white;
  font-weight: 600;
  width: 100%;
  cursor: pointer;
  transition: 0.5s all;

  &:hover, &:active, &:focus {
    background: #3AA120;

  }
}

.btn-big {
  padding: 18px;
  border-radius: 20px;
}

.btn-secondary {
  background: #48C9281A;
  color: #48C928;

  &:hover, &:active, &:focus {
    background: #48C92833;
  }
}

.btn-disable {
  background-color: #7777771A;
  color: #777777;

  &:hover {
    background-color: rgba(82, 82, 82, 0.15);
  }
}

.breadcrumb {
  margin-bottom: 8px;
  line-height: 1;

  li {
    display: inline-block;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    transition: all 0.5s;

    a {
      opacity: 60%;

      &:hover {
        color: #3AA120;
        opacity: 100%;

        &:after {
          color: #3D4453;
          opacity: 60%;
        }
      }

      &:after {
        content: '/';
        margin: 0 5px;
      }
    }
  }
}

.product-img {
  height: 240px;
  position: relative;
}

.have-product {
  font-weight: 500;
  font-size: 13px;
  color: #48C928;
}

.card-price {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.card-old-price {
  opacity: 40%;
  text-decoration: line-through;
}

.card-favorite {
  padding: 12px;
  border-radius: 12px;
  background-color: #F0F0F0;

  form {
    height: 20px;
  }
}

.fixed-menu {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 15px 0;
  background-color: white;
  z-index: 10;

  ul {
    display: flex;
    justify-content: space-between;

    li {
      a {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2px;
        font-weight: 600;
        font-size: 10px;
        line-height: 16px;
        transition: 0.5s all;

        &.active {
          color: #48C928;
        }

        &.active:hover {
          color: #3AA120;
        }

        &:hover {
          color: #48C928;
        }
      }
    }
  }
}

.main-block {
  padding: 20px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0px 4px 16px 0px #3D44531A;
  box-shadow: 0px 0px 8px 0px #3D44530D;
}

.card-block {
  margin-left: -20px;
  margin-right: -20px;
  padding: 20px;
  background-color: white;
  box-shadow: 0px 4px 16px 0px #3D44531A;
  box-shadow: 0px 0px 8px 0px #3D44530D;
}

.card-main-block {
  @apply px-5 -mx-5 bg-white;
  padding-top: 92px;
  padding-bottom: 0;
}

.cashback {
  text-align: center;
  margin-bottom: 16px;
}

.line-user {
  color: #F0F0F0;
  height: 1px;
  width: 100%;
  margin-bottom: 16px;
}

.profile-avatar {
  color: white;
  background-color: #48C928;
}

.profile-form {
  .input-container {
    margin-bottom: 12px;
    position: relative;

    label {
      font-weight: 500;
      font-size: 12px;
      line-height: 16px;
      margin-bottom: 4px;
      display: block;
    }

    input {
      border-radius: 12px;
      background-color: #F0F0F0;
      border: 1px solid #F0F0F0;
      color: #777777;
      padding: 14px 16px;
      width: 100%;

      &:focus {
        outline: none;
        background-color: white;
        border: 1px solid #48C928;
      }
    }
  }

  .suggestions-wrapper {
    display: none;
    position: absolute;
    background: #f6f6f6;
    padding: 10px;
    z-index: 2;
    width: 100%;

    .suggestions {
      display: none;
      max-height: 200px;

      .suggestion-item {
        padding: 5px 0;
        cursor: pointer;
        font-size: 14px;

        &:hover {
          color: #000000;
        }
      }

      .suggestion-item:first-child {
        color: #808080;
        cursor: default;
        font-size: 12px;

        &:hover {
          color: #808080;
        }
      }
    }
  }

  .check-input-label {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;

    .agreement {
      color: #48C928;

      &:hover {
        color: #3AA120;
      }
    }
  }

  .form-check-input {
    width: 20px;
    height: 20px;

    &:checked {
      background-color: #48C928;
    }
  }
}

.text-gray-no-active {
  color: #777777;
}

.no-items-wrapper {
  @apply flex items-center w-full;
  height: 75vh;

  .no-items-title {
    @apply text-center w-full mb-3;
    color: #777777;
    font-weight: 600;
  }
}

.price-title {
  font-size: 12px;
  margin-bottom: 12px;
}

.end-price {
  font-size: 17px;
  font-weight: 600;
}

.cart-empty {
  font-weight: 600;
  color: #777777;
}

.btn-clear-cart {
  @apply font-medium flex gap-1 items-center hover:text-gray-700;
  color: #777777;
  cursor: pointer;
}

.scrollable {
  padding-right: 8px;
  margin-right: -8px;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 15px; /* ширина вертикальной полосы прокрутки */
  }

  &::-webkit-scrollbar-track {
    background: #f6f6f6;
    border: none;
    border-radius: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #48C928; /* цвет ползунка */
    border-radius: 8px; /* округлые края */
    border: 4px solid #f6f6f6;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #3AA120; /* цвет ползунка при наведении */
  }
}

.green {
  color: #48C928;
}

.btn {
  form {
    max-height:  20px;
  }

  .buy-info {
    margin-top: -4px;
    height: 20px;

    .count {
      color: #3D4453;
      font-weight: 600;
      font-size: 12px;
      line-height: 16px;
    }

    .total {
      color: #777777;
      font-weight: 500;
      font-size: 10px;
      line-height: 12px;
      text-align: center;
    }
  }
}

.buy {
  cursor: pointer;

  &:hover {
    .buy-btn {
      .plus-ico, .plus-ico::after, .minus-ico {
        background-color: #3AA120;
      }
    }
  }

  .buy-btn {
    padding: 9px 4px;
    cursor: pointer;

    .plus-ico, .minus-ico, .plus-ico::after {
      width: 12px;
      height: 2px;
      background-color: #48C928;
      border-radius: 2px;
      transition: 0.5s all;
    }

    .plus-ico::after {
      content: '';
      display: block;
      transform: rotate(90deg);
    }
  }
}

.cart-mini {
  background-color: #48C928;
  color: white;
  position: fixed;
  bottom: 72px;
  left: 0;
  width: 100%;
  z-index: 10;
  transition: 0.5s all;

  &:hover {
    background-color: #3AA120;

    .right-arrow {
      margin-right: -5px;
    }
  }

  .cart-counter {
    position: absolute;
    background-color: white;
    color: #48C928;
    padding: 3px;
    font-size: 10px;
    line-height: 10px;
    font-weight: 700;
    right: -7px;
    top: 9px;
    min-width: 16px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
  }
}

.fav-btn {
  color: #777777;
  cursor: pointer;
  transition: all 0.5s;

  &:hover {
    color: #48C928;
  }

  &.favorite {
    color: #48C928;

    svg {
      fill: #48C928;
    }
  }
}

.favorite:hover {
  color: #3AA120;
}

.order-total {
  font-weight: 600;
  font-size: 17px;
  color: #48C928;
}

.modal {
  position: fixed;
  z-index: 100;
  width: 100%;
  left: 0;
  top: 0;
  background: #0000003d;
  display: none;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-top: 72px;

  .modal-block {
    background-color: #f9f9f9;
    border-radius: 20px 20px 0 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}

.order-item {
  .count {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
  }

  .price {
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    color: #777777;
  }
}

.question {
  .answer {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    height: 0;
    overflow: hidden;
    transition: all 0.5s;
  }

  .open-answer {
    height: auto;
    transition: all 0.5s;
  }

  .open-icon {
    cursor: pointer;
    color: #48C928;
    transition: all 0.5s;
    transform: rotate(180deg);

    &:hover {
      color: #3AA120;
    }
  }

  .rotate {
    transform: rotate(0deg);
  }
}

.footer {
  padding-top: 20px;
  padding-bottom: 72px;

  a {
    font-weight: 600;
    color: #48C928;
  }
}
