@import "tailwindcss";
@source "../../../app/views/**/*.html.erb";
@source "../../../app/views/**/*.rb";
@source "../../../app/helpers/**/*.rb";

$primary-color: #19707d;
$primary-light: rgba(31, 128, 142, 1);
$secondary-color: #3396a5;
$turquoise-light: rgb(66, 169, 185);

body {
  background: $secondary-color;
}

.header {
  background: $secondary-color;

  form {
    max-height: 50px;
  }

  .logo {
    background: linear-gradient(315deg, $primary-color 5.83%, #43b2c4 94.27%);
    color: #FFFFFF;
  }
}

.product-wrapper {
  background: linear-gradient(180.54deg, #42A9B9 0.47%, rgba(66, 169, 185, 0) 99.54%);
}

.product {
  background: linear-gradient(175deg, $primary-color -7.7%, rgb(50, 151, 165) 73.15%);

  .product-exist {
    margin-top: 5px;
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 14px;
    line-height: 17px;

    .have-product {
      width: 12px;
      height: 12px;
      background-color: #47fd68;
      background-image: url('../images/checked.svg');
      background-size: 9px 9px;
      background-position: center;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .no-have-product {
      background-image: none;
      background-color: rgba(238, 64, 76, 1);

      &:before, &:after {
        content: '';
        display: block;
        width: 9px;
        height: 1px;
        background-color: white;
        transform: translateX(3px) rotate(45deg);
      }

      &:after {
        transform: translateX(-3px) rotate(-45deg);
      }
    }
  }

  .product-img {
    padding-top: 30px;
    padding-bottom: 45px;

    & div.relative, & div.relative .img {
      width: 266px;
      height: 196px;
      margin: 0 auto;
    }
  }

  .product-footer {
    display: flex;
    align-items: end;
    justify-content: space-between;

    .btn-order {
      background: $turquoise-light;
      border: 1px solid $turquoise-light;
      border-radius: 48px;
      padding: 5px;
      display: flex;
      align-items: center;
      gap: 18px;
      transition: all 0.3s;

      @media screen and (max-width: 300px) {
        gap: 8px;
      }

      &:hover, &:focus {
        background: $primary-color;
      }

      .title-btn {
        font-size: 18px;
        font-weight: 500;
        line-height: 22px;
        padding-left: 20px;
        text-transform: uppercase;

        @media screen and (max-width: 300px) {
          padding-left: 10px;
          font-size: 14px;
          line-height: 17px;
        }
      }

      .plus {
        width: 40px;
        height: 40px;
        background-color: white;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        @media screen and (max-width: 300px) {
          width: 30px;
          height: 30px;
        }

        .cart-item-counter {
          position: absolute;
          left: -1px;
          top: -1px;
          width: 15px;
          height: 15px;
          background: $secondary-color;
          color: #FFFFFF;
          border-radius: 50%;
          font-size: 12px;
          display: flex;
          justify-content: center;
          align-items: center;

          @media screen and (max-width: 300px) {
            font-size: 12px;
            left: -1px;
            top: -1px;
            width: 13px;
            height: 13px;
          }
        }
      }
    }

    .price {
      font-size: 18px;
      line-height: 22px;
    }
  }
}

.modal {
  background-color: $primary-color;
  border-radius: 48px;
  display: none;
  padding: 48px 36px;
  margin-bottom: 20px;
  position: relative;
  @media screen and (max-width: 300px) {
    padding: 40px 35px 50px 25px;
  }
}

.left {
  border-top-left-radius: 0;

  &:after, &:before {
    content: '';
    position: absolute;
    width: 1.5px;
    height: 11.5px;
    top: 20px;
    left: 20px;
    background-color: #FFFFFF;
  }

  &:before {
    width: 11.5px;
    height: 1.5px;
  }
}

.right {
  border-top-right-radius: 0;

  &:after, &:before {
    content: '';
    position: absolute;
    width: 1.5px;
    height: 11.5px;
    top: 20px;
    right: 20px;
    background-color: #FFFFFF;
  }

  &:before {
    width: 11.5px;
    height: 1.5px;
  }
}

.scrollable {
  padding-right: 18px;
  margin-right: -18px;
  max-height: 320px;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 15px; /* ширина вертикальной полосы прокрутки */
  }

  &::-webkit-scrollbar-track {
    background: $primary-light;
    border: none;
    border-radius: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $turquoise-light; /* цвет ползунка */
    border-radius: 8px; /* округлые края */
    border: 4px solid $primary-light;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: $primary-color; /* цвет ползунка при наведении */
  }
}

#products {
  padding-bottom: 50px;
}

.footer {
  color: rgba(255, 255, 255, 1);
  margin-bottom: 40px;

  .line-footer {
    background: linear-gradient(90deg, rgba(71, 132, 252, 0) 0%, #42A9B9 51%, rgba(71, 132, 252, 0) 100%);
    height: 1px;
    margin-bottom: 26px;
  }

  a {
    color: #FFFFFF;
  }
}

.btn {
  background: $turquoise-light;
  border: 1px solid $turquoise-light;
  font-size: 18px;
  line-height: 22px;
  padding: 14px 26px;
  border-radius: 48px;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    background-color: $primary-light;
  }
}

.reverse {
  border: #FFFFFF 1px solid;

  &:hover {
    background-color: $primary-color;
  }
}

.input-str {
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: none;

  &:focus {
    border: 1px solid rgba(255, 255, 255, 1);
    outline: none;
  }
}

.input-str::placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 200;
}

form label {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 200;
  font-size: 1rem;
}

.input-container p {
  font-size: 0.9rem;
  font-weight: 200;
  color: rgba(255, 255, 255, 0.5);
  margin-left: 18px;
  top: -23px;
  position: absolute;
}

/* Для старых браузеров */
.input-str:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgba(255, 255, 255, 0.5);
  font-weight: 200;
}

.input-str::-ms-input-placeholder { /* Microsoft Edge */
  color: rgba(255, 255, 255, 0.5);
  font-weight: 200;
}

.cart {
  .cart-header {
    .cart-header-column {
      font-size: 17px;
      @media screen and (max-width: 300px) {
        font-size: 12px;
      }

      &:after {
        background: #FFFFFF;
      }
    }
  }

  .cart-item {
    border-bottom: #FFFFFF 1px solid;

    .quantity {
      border: #FFFFFF 1px solid;
    }
  }
}

.agreement {
  font-size: 13px;
  line-height: 15px;
  text-decoration: none;
  position: relative;
  max-width: 235px;
  padding-bottom: 6px;

  &:hover {
    color: $turquoise-light;

    &:after {
      background-color: $turquoise-light;
    }
  }

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: #FFFFFF;
  }
}

.form-check-input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  max-width: 20px;
  width: 100%;
  height: 20px;
  border: none;
  border-radius: 50%;
  background: $turquoise-light;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  outline: none;
  transition: background-color 0.3s ease;
}

.form-check-input[type="checkbox"]:hover, .form-check-input[type="checkbox"]:checked:hover {
  background-color: $secondary-color;
}

.form-check-input[type="checkbox"]:checked {
  background: $turquoise-light;
}

.form-check-input[type="checkbox"]:checked::after {
  content: '';
  width: 16px;
  height: 16px;
  background-image: url('../images/checked.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.cart-logo {
  position: relative;

  circle {
    stroke: white;
  }

  path {
    fill: white;
  }

  .cart-counter {
    position: absolute;
    width: 20px;
    height: 20px;
    left: -4px;
    bottom: 1px;
    background: #FFFFFF;
    border: solid 1px #FFFFFF;
    border-radius: 50%;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $primary-color;
  }
}

.agreement-text {
  text-align: center;
  display: none;
  font-size: 12px;
  line-height: 13px;
}

.modal {
  .close {
    background: #197075;

    &::before, &::after {
      background-color: #FFFFFF;
    }
  }
}

.title-h {
  color: #FFFFFF;
}

.address-wrapper {
  .suggestions-wrapper {
    background: $secondary-color;

    .suggestion-item {
      &:hover {
        color: $primary-color;
      }
    }

    .suggestion-item:first-child {
      color: $primary-color;
      cursor: default;
      font-size: 12px;

      &:hover {
        color: $primary-color;
      }
    }
  }
}

.product-description {
  font-size: 14px;
  line-height: 20px;
}

.product-reviews .reviews-header .text {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}

.product-reviews .review .text {
  font-size: 14px;
  line-height: 20px;
}

.product-reviews .reviews-header {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding-bottom: 36px;
}

.product-reviews .average-rating {
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
}

.product-reviews .percentages {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.product-reviews .percentages .percentage-wrap {
  display: flex;
  align-items: center;
  gap: 15px;
}

.product-reviews .percentages .percentage-wrap .rating {
  font-size: 10px;
  font-weight: 700;
  line-height: 12px;
}

.product-reviews .percentages .percentage {
  background-color: $secondary-color;
  height: 4px;
  border-radius: 2px;
  width: 157px;
  overflow: hidden;
}

.product-reviews .percentages .percentage > div {
  background-color: white;
  height: 100%;
}

.product-reviews .review-count .text {
  color: #FFFFFF;
}

.product-reviews .review {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.product-reviews .review .avatar {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  border-radius: 50%;
  flex: 0 0 auto;
}

.product-reviews .review-body {
  width: 100%;
}

.rating-stars {
  svg {
    path {
      opacity: 1;
      fill: rgb(66, 169, 185);
    }
  }

  svg.filled-star:hover path, svg:hover path {
    fill: $primary-color;
    opacity: 1;
  }
}

.rating-stars svg.filled-star path {
  fill: #FFFFFF;
  opacity: 1;
}

.stars svg.filled-star path {
  fill: #FFFFFF;
  opacity: 1;
}

ul.catalog-nav {
  padding: 36px 0;

  li {
    flex-shrink: 0;

    a {
      border: #FFFFFF 1px solid;
      font-size: 18px;
      font-weight: 200;
      line-height: 22px;
      background: transparent;
      border-radius: 48px;
      padding: 13px 30px;
    }
  }
}

.burger-menu {
  width: 50px;
  height: 50px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;

  span {
    width: 22px;
    height: 1.5px;
    display: block;
    background-color: #ffffff;
    position: relative;
    border-radius: 1px;
    transition: all 0.5s;
  }

  span:before, span:after {
    content: '';
    width: 22px;
    height: 1.5px;
    display: block;
    background-color: #ffffff;
    position: absolute;
    border-radius: 1px;
    transition: all 0.5s;
  }

  span:before {
    top: 7px;
  }

  span:after {
    bottom: 7px;
  }

  &.show {
    span {
      background: transparent;
    }

    span:before {
      transform: translateY(-7px) rotate(-45deg)
    }

    span:after {
      transform: translateY(7px) rotate(45deg)
    }
  }
}

.menu {
  transition: all 0.5s;
  padding: 48px 36px;
  background-color: $primary-color;
  width: 100%;
  border-top-right-radius: 48px;
  border-bottom-left-radius: 48px;
  box-shadow: 0px 0px 8px 0px rgba(71, 132, 252, 0.15);
  position: relative;

  ul {
    li {
      margin-bottom: 24px;

      button {
        font-size: 18px;
        font-weight: 500;
        line-height: 24px;
        display: flex;
        gap: 8px;
        color: #FFFFFF;
        transition: all 0.5s;

        svg path {
          transition: all 0.5s;
          fill: #FFFFFF;
        }
      }

      a {
        font-size: 18px;
        font-weight: 500;
        line-height: 24px;
        color: #FFFFFF;
        transition: all 0.5s;
      }
    }

    li:hover a, li:hover button {
      color: $secondary-color;
    }

    li:hover button svg path {
      fill: $secondary-color;
    }

    li:last-child {
      margin-bottom: 0;
    }
  }
}

.button_to .plus:hover {
  color: $turquoise-light;
}

.product-reviews .input-str {
  font-size: 14px;
  line-height: 20px;
}

.properties-list {
  li {
    border-bottom: 1px #FFFFFF solid;
  }

  li:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: none;
  }
}

.plus-ico, .plus-ico::after {
  width: 2px;
  height: 16px;
  background-color: $primary-color;
  border-radius: 2px;
}

.notices {
  background: $primary-color;
  color: #FFFFFF;

  .close, .close:hover, .close:focus {
    background: $primary-color;
    color: #FFFFFF;
    box-shadow: none;
  }

  .close:active {
    color: $secondary-color;
  }
}
