@import "tailwindcss";

.header {
  .header-search {
    input:focus + button {
      //color: #48C928;
      color: #1b8190;
    }

    &:focus-within {
      button {
        color: #1b8190;

        &:hover {
          color: #1b8190;
        }
      }
    }

    &:focus-within {
      button {
        color: #1b8190;

        &:hover {
          color: #1b8190;
        }
      }
    }

    button:hover {
      color: #1b8190;
    }
  }
}

.catalog-nav {
  li {
    a {
      border-color: #1b8190;
      color: #1b8190;

      &.active, &:hover {
        background-color: #1b8190;
      }

      &.active:hover {
        //background-color: #3AA120;
        background-color: #125f6b;
      }
    }
  }
}

.product-wrapper {
  .product-img {
    color: #1b8190;
  }

  .price {
    color: #1b8190;
  }
}

.btn {
  background-color: #1b8190;

  &:hover, &:active, &:focus {
    background: #125f6b;

  }
}

.btn-secondary {
  background: rgba(40, 201, 201, 0.2);
  color: #1b8190;

  &:hover, &:active, &:focus {
    background: rgba(40, 188, 201, 0.4);
  }
}

.btn-disable {
  color: #e1e1e1;
}

.breadcrumb {
  li {
    a {
      &:hover {
        color: #1b8190;

        &:after {
          color: #3D4453;
          opacity: 60%;
        }
      }
    }
  }
}

.have-product-ico {
  background-color: #1b8190;
}

.have-product {
  color: #1b8190;
}

.fixed-menu {
  ul {
    li {
      a {
        &.active {
          color: #1b8190;
        }

        &.active:hover {
          color: #3D4453;
        }

        &:hover {
          color: #1b8190;
        }
      }
    }
  }
}

.card-main-block {
  .product-img {
    color: #1b8190;
  }
}

.bonus-block {
  .bonus-balance {
    color: #1b8190;
  }

  .account-tier {
    color: #1b8190;

    &:hover {
      color: #1b8190;
    }
  }

  .bonus-block-footer {
    background-color: #1b8190;
  }
}

.price-percent {
  background: linear-gradient(276.05deg, #3D4453 5.83%, #1b8190 94.27%);
}

.bonus-user-up {
  .price {
    background-color: #1b8190;
  }
}

.product-reviews {
  .percentages {
    .percentage-wrap {
      .percentage {
        div {
          background-color: #1b8190;
        }
      }
    }
  }
}

.btn-new-review {
  color: #1b8190;
}

.review {
  .filled-star {
    color: #1b8190;
  }
}

.profile-avatar {
  color: white;
  background-color: #1b8190;
}

.profile-form {
  .input-container {
    input, textarea {
      &:focus {
        border: 1px solid #1b8190;
      }
    }
  }

  .checkbox-label {
    .agreement {
      color: #1b8190;

      &:hover {
        color: #3D4453;
      }
    }
  }

  .checkbox-label {
    input[type="checkbox"]:checked + .custom-checkbox {
      background-color: #1b8190;
      border-color: #1b8190;
    }
  }
}

.review-photos {
  .wrapper-ico {
    &:hover .add-img-ico {
      color: #3D4453;
    }

    .add-img-ico {
      color: #1b8190;

      &:hover {
        color: #3D4453;
      }
    }
  }
}

.cart-items {
  .buy-btn {
    &:hover {
      .plus-ico, .minus-ico, .plus-ico::after {
        background-color: #1b8190;
      }
    }
  }
}

.scrollable {
  &::-webkit-scrollbar-thumb {
    background-color: #1b8190;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #1b8190;
  }
}

.green {
  color: #1b8190;
}

.buy {
  &:hover {
    .buy-btn {
      .plus-ico, .plus-ico::after, .minus-ico {
        background-color: #1b8190;
      }
    }
  }

  .buy-btn {
    .plus-ico, .minus-ico, .plus-ico::after {
      background-color: #1b8190;
    }
  }
}

.cart-mini {
  background-color: #1b8190;

  &:hover {
    background-color: #1b8190;
  }

  .cart-counter {
    color: #1b8190;
  }
}

.fav-btn {
  &:hover {
    color: #1b8190;
  }

  &.favorite {
    color: #1b8190;

    svg {
      fill: #1b8190;
    }
  }
}

.favorite:hover {
  color: #3D4453;
  svg {
    fill: #3D4453;
  }
}

.order-total {
  color: #1b8190;
}

.modal {
  .close {
    &:hover {
      color: #1b8190;
    }
  }
}

.history-order-items {
  .history-order-item {
    .history-img {
      color: #1b8190;
    }
  }
}

.brand-color-link {
  &:hover {
    color: #1b8190;
  }
}

.question {
  .open-icon {
    color: #1b8190;

    &:hover {
      color: #1b8190;
    }
  }
}

.footer {
  a {
    color: #1b8190;
  }
}

.breadcrumb {
  display: none;
}

.card-favorite {
  display: none;
}
