<div id="<%= dom_id order %>" class="mb-3">
  <p>
    <strong>Заказ №:</strong>
    <%= order.id %>
  </p>
  <p>
    <strong>Total amount:</strong>
    <%= order.total_amount %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= order.status %>
  </p>
</div>
