<p style="color: green"><%= notice %></p>

<% content_for :title, "Заказы" %>

<h1 class="mb-5">Заказы</h1>

<% if @orders.present? %>
  <div id="orders">
    <% @orders.each do |order| %>
      <%= render order %>
    <% end %>
  </div>
<% else %>
    <div>Заказы отсутсвуют!</div>
<% end %>

