<p style="color: green"><%= notice %></p>

<% content_for :title, "Заказы" %>

<h1>Заказы</h1>

<% if @orders.present? %>
  <div id="orders">
    <% @orders.each do |order| %>
      <%= render order %>
      <p>
        <%= link_to "Show this order", order %>
      </p>
    <% end %>
  </div>
<% else %>
    <div>Заказы отсутсвуют!</div>
<% end %>

