<%= render @order %>

<div>
  <%= link_to "Back to orders", orders_path %>

  <h5 class="mt-3"> Order items:</h5>
  <% @order_items.each do |order_items| %>
    <%= render order_items %>
  <% end %>
</div>
