<h1>Произошла критическая ошибка.</h1>
<p>Сервер: <b><%= ENV.fetch('HOST', 'no_set') %></b></p>
<p>Ошибка: <%= @error %></p>
<p></p>
<p>Полный текст ошибки:</p>
<p><%= @message&.gsub(/\e\[[;?\d]*m/, '') %></p>
