<div class="cart" id="cart">
  <% if @cart_items.present? %>
    <div class="cart-header">
      <div class="basis-1/3"><div class="cart-header-column">Название</div></div>
      <div class="cart-header-column">Количество</div>
      <div class="cart-header-column">Цена</div>
    </div>

    <%= render '/carts/cart_items' %>

    <%= button_to "Оформить заказ", orders_path, params: { page: 1 }, class: 'btn',
                  data: { controller: 'buttons', action: 'click->buttons#leftAction' } %>
  <% else %>
    <div><%= t('empty_cart') %></div>
  <% end %>
</div>
