<div class="cart">
  <div class="cart-header">
    <div class="basis-1/3">
      <div class="cart-header-column">Название</div>
    </div>
    <div class="cart-header-column">Количество</div>
    <div class="cart-header-column">Цена</div>
  </div>

  <%= render '/carts/cart_items' %>
</div>

<%= button_to "Оформить заказ", orders_path, params: { page: 1 }, class: 'btn',
              data: { controller: 'buttons', action: 'click->buttons#leftAction' } %>
