<div id="cart_items" data-controller="cart">
  <%= render partial: '/cart_items/cart_item', collection: @cart_items %>

  <div class="cart-item hidden" data-cart-target="delivery">
    <div class="basis-1/3">Доставка</div>
    <div class="quantity"><span>Услуга</span></div>
    <div class=""><%= settings[:delivery_price] %>₽</div>
  </div>
</div>
