<% content_for :title, "Корзина" %>

<% content_for :modal do %>
  <%= render '/carts/cart' %>
<% end %>

<% content_for :model_class, "right" %>

<% content_for :model_style, "display: block;" %>

<div id="products">
  <%= render @products %>
</div>
