<% if @cart_items.present? %>
  <div id="<%= dom_id @cart %>">
    <%= render partial: '/cart_items/cart_item', collection: @cart_items %>

    <div><%= button_to "Destroy this cart", @cart, method: :delete %></div>
  </div>
<% else %>
  <div><%= t('empty_cart') %></div>
<% end %>
