<div class="footer">
  <div class="container mx-auto">
    <div class="line-footer"></div>
    <div style="text-align: center;">
      <p>Заказать другой препарат из Турции</p>
      <a href="https://t.me/eczane_store" style="margin-bottom: 26px; display: block;">https://t.me/eczane_store</a>

      <p>Чат-сообщество людей с СДВГ </p>
      <a href="https://t.me/+EbVQcAOIdsk1Njhk">https://t.me/+EbVQcAOIdsk1Njhk</a>
    </div>
  </div>
</div>