<div class="footer">
  <div style="text-align: center;">
    <p>Заказать другой препарат из Турции</p>
    <a href="https://t.me/eczane_store">https://t.me/eczane_store</a>

    <p>Чат-сообщество людей с СДВГ </p>
    <a href="https://t.me/+EbVQcAOIdsk1Njhk">https://t.me/+EbVQcAOIdsk1Njhk</a>
  </div>
</div>