<div class="pt-6 px-4">
  <h1 class="text-xl leading-8 font-semibold text-gray-900 dark:text-white mb-4">Настройки</h1>

  <%= link_to 'Создать', new_admin_setting_path, class: 'btn',
              data: { controller: 'modal-btn', action: 'click->modal-btn#open', turbo_prefetch: false } %>
</div>

<div class="pt-6">
  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="px-6 py-3">
          <%= sort_link(@q_settings, :variable, 'Переменная', data: { turbo_prefetch: false }) %>
        </th>
        <th scope="col" class="px-6 py-3">Значение</th>
        <th scope="col" class="px-6 py-3">Описание</th>
        <th scope="col" class="px-6 py-3">Действия</th>
      </tr>
      </thead>
      <tbody>
        <%= render @settings %>
      </tbody>
    </table>
  </div>

  <%= render partial: '/layouts/partials/admin/pagy' %>
</div>
