/ p class="my-10 text-gray-500 text-center text-sm leading-5"
/   span © 2023 – #{Time.current.year}
/   a href="https://osama.agency/" class="" target="_blank" Osama.agency
/   span . All rights reserved.
