<div id="<%= dom_id order_item %>">
  <p>
    <strong>Product:</strong>
    <%= order_item.product.name %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= order_item.quantity %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= order_item.price %>
  </p>

</div>
