<div class="w-8 h-8 rounded-full flex justify-center items-center overflow-hidden">
  <% if user.photo_url.present? %>
      <%= image_tag user.photo_url %>
  <% else %>
    <div class="w-8 h-8 bg-blue-800 flex items-center justify-center text-white font-normal">
      <%= user.first_name&.strip&.first %>
    </div>
  <% end %>
</div>