<% if @pagy.next %>
  <div id="pagination" class="-mt-12">
    <div class="spinner mt-5">
      <span></span>
    </div>
    <div class="-mt-12" data-controller="infinite-scroll" data-infinite-scroll-url="<%= products_path(format: :turbo_stream, page: @pagy.next) if @pagy.next %>"></div>
  </div>
<% end %>