<% content_for :title, 'Продукты' %>
<% if @products&.first&.image&.attached? %>
  <%= content_for :head, preload_link_tag(storage_path(@products.first.image), as: 'image',
                                          type: @products.first.image.blob.content_type) %>
<% end %>

<div id="products">
  <%= render 'products/products' %>
</div>

<%= render 'products/pagination' %>
