<% content_for :title, "Products" %>

<div id="products">
  <% @products.each do |product| %>
    <div class="mb-3">
      <%= render product %>

      <%= link_to "Show this product", product %>
    </div>
  <% end %>
</div>

<%= link_to "New product", new_product_path %>
