<h2 class="title-h">Мы получили ваш отзыв.</h2>

<p class="mb-6">Сейчас он обрабатывается и совсем скоро появится на сайте!</p>

<div class="text-center mb-12">
  <%= link_to 'Оформить новый заказ', products_path, class: 'btn inline-block', data: { turbo: false } %>
</div>
