<div style="padding-bottom: 50px;">
  <div class="product-wrapper">
    <div class="product">
      <%= render partial: '/reviews/form', locals: { review: @review, method: :post } %>
    </div>
  </div>
</div>
