<div style="padding-bottom: 50px;">
  <div class="product-wrapper">
    <div class="product">
      <%= turbo_frame_tag :new_review_page do %>
        <%= render partial: '/reviews/form', locals: { method: :post } %>
      <% end %>
    </div>
  </div>
</div>
