<div class="w-8 h-8 <%= local_assigns[:style] %> rounded-full flex justify-center items-center overflow-hidden flex-shrink-0">
  <% if user.photo_url.present? %>
      <%= image_tag user.photo_url %>
  <% else %>
    <div class="w-full h-full bg-<%= %w[red blue green indigo purple].sample %>-800 flex items-center justify-center text-white font-normal">
      <%= user.first_name.present? ? user.first_name.strip.first : (user.first_name_raw&.strip&.first.presence || user.username&.first.presence ) %>
    </div>
  <% end %>
</div>