<%= button_to carts_path, data: { turbo_prefetch: false }, id: 'cart_logo', method: :get do %>
  <div class="cart-logo">
    <%= image_tag image_path('cart.svg') %>
    <% if (quantity = cart_items_total).positive? %>
      <div class="cart-counter"><%= quantity %></div>
    <% end %>
  </div>
<% end %>
