<%= button_to carts_path, id: 'cart_logo', method: :get, # (format: :turbo_stream)
              data: { turbo: true, controller: 'buttons', action: 'click->buttons#rightAction', turbo_prefetch: false } do %>
  <div class="cart-logo">
    <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g clip-path="url(#clip0_0_1)">
        <path d="M36.7801 19.4883C36.7027 19.3784 36.6 19.2886 36.4807 19.2267C36.3614 19.1647 36.229 19.1324 36.0946 19.1323H18.1877L16.8322 14.4579C16.3006 12.6173 15.0375 12.4185 14.5195 12.4185H10.9053C10.442 12.4185 10.0674 12.7936 10.0674 13.2564C10.0674 13.7192 10.4424 14.0942 10.9052 14.0942H14.519C14.6333 14.0942 14.9822 14.0942 15.2202 14.9164L19.8832 32.0534C19.9844 32.415 20.3139 32.6647 20.6898 32.6647H32.0796C32.4331 32.6647 32.7486 32.4432 32.8681 32.1104L36.8826 20.2536C36.975 19.9966 36.9366 19.7106 36.7801 19.4883H36.7801ZM31.4899 30.9895H21.3257L18.6586 20.8084H34.9033L31.4899 30.9895ZM29.8282 34.3628C28.663 34.3628 27.7188 35.307 27.7188 36.4722C27.7188 37.6374 28.663 38.5815 29.8282 38.5815C30.9934 38.5815 31.9376 37.6374 31.9376 36.4722C31.9376 35.307 30.9934 34.3628 29.8282 34.3628ZM22.2344 34.3628C21.0692 34.3628 20.1251 35.307 20.1251 36.4722C20.1251 37.6374 21.0692 38.5815 22.2344 38.5815C23.3997 38.5815 24.3438 37.6374 24.3438 36.4722C24.3438 35.307 23.3997 34.3628 22.2344 34.3628Z" fill="#4784FC"/>
      </g>
      <circle cx="25" cy="25" r="24.5" stroke="#4784FC"/>
      <defs>
        <clipPath id="clip0_0_1">
          <rect width="27" height="27" fill="white" transform="translate(10 12)"/>
        </clipPath>
      </defs>
    </svg>
    <% if (quantity = cart_items_total).positive? %>
      <div class="cart-counter"><%= quantity %></div>
    <% end %>
  </div>
<% end %>
