<footer>
  <div class="footer">
    <div class="container mx-auto">
      <div class="line-footer"></div>
      <div style="text-align: center;">
        <p>Заказать другой препарат из Турции</p>
        <%= link_to settings[:tg_support], settings[:tg_support], class: 'mb-6 block' %>

        <p>Чат-сообщество людей с СДВГ</p>
        <%= link_to settings[:tg_group], settings[:tg_group], class: 'mb-6' %>
      </div>
    </div>
  </div>
</footer>
