<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
  </head>

  <body style="background-color: <%= ENV.fetch('HOST', '').include?('mirena') ? '#3396a5' : '#000001' %>;">
    <%= yield %>
  </body>
</html>
